.nav-bar {
  background-color: var(--app-color-yellow);
  align-items: center;
  width: 100%;
  display: block;
  max-height: 10rem;
}

.logo {
  max-width: 100%;
}

@media (max-width: 767px) {
  .nav-bar {
    background-color: var(--app-color-white);
  }
  .nav-figure{
    margin: 1rem;
  }
}