.app-container {
  display: grid;
  justify-content: start;
  justify-items: start;
  background-color: var(--app-color-white);
  width: 80vw;
  margin: 0 auto 5rem auto;
}


@media (max-width: 767px) {
  .app-container {
    width: 90vw;
  }
}